$fontFamily: Arial, Helvetica, sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', $fontFamily;
}

body{
    background-color: rgb(248, 217, 161);
}

a{
    cursor: pointer;
    width: 135px;
    border: 2px solid rgb(191, 169, 128);
    padding: 7px;
    background-color: rgb(245, 232, 199);
    border-radius: 8px;
    transition: all .3s ease;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: #000;
    font-family: 'Sarabun', $fontFamily;
    font-weight: 600;

    &:hover{
        border: 2px solid rgb(248, 217, 161);
        transform: scale(1.03);
        box-shadow: rgba(0, 0, 0, 0.73) 0px 4px 8px;
    }
}

.intro{
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        & > picture:first-child{
            width: 35%;
            max-width: 120px;

            img {
                width: 100%;
            }
        }

        h1{
            font-family: 'Sarabun', $fontFamily;
            font-size: clamp(2.5rem, 2.054rem + 1.19vw, 3.125rem);
        }

        p{
            font-size: clamp(1.25rem, 1.161rem + 0.238vw, 1.375rem);
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    
    & picture:last-child img{
        width: 100%;
        max-width: 400px;
        box-shadow: rgba(0, 0, 0, 0.73) 0px 4px 8px;
        border-radius: 8px;
    }

    @media screen and (max-width: 900px){
        width: 85%;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}

.characteristics{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-size: clamp(1.625rem, 1.446rem + 0.476vw, 1.875rem);
    }

    p{
        margin-top: 15px;
        font-size: clamp(1.125rem, 1.036rem + 0.238vw, 1.25rem);
    }

    img {
        width: 200px;
        border: 3px solid rgb(191, 169, 128);
        box-shadow: rgba(0, 0, 0, 0.73) 0px 4px 8px;
        border-radius: 8px;
    }

    & article:first-child, article:last-child{
        background-color: #fff;
    }

    article {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 20px 10px;
        justify-content: space-evenly;

        @media screen and (max-width: 550px){
            flex-direction: column;
            text-align: center;
        }
    }
}

.cta {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    a {
        display: inline-block;
    }
}